<div class='page4'>
    <div class='divTotal'>
        <p>
            Bravo ! Vous avez trouvez le trésor mais il faut un code  ! Comment faire ??
            Heureusement un parchemin va avec le coffre
        </p>
    </div>
    <div class='divTotal'>
        <img src="../assets/Capture4.PNG">
    </div>
    <div class='divTotal'>
        <form (ngSubmit)="VerificationCode()">
            <input type="text" [(ngModel)]="code" name="code" required>
            <button type="submit">Verifier</button>
        </form>
        <div *ngIf="Bravo">
            <button routerLink="/503">Avancez</button>
        </div>     
    </div>
</div>